:host {
  display: block;
  margin-top: 1rem;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.mat-expansion-panel.mat-expanded{
  background-color: #f1f4f7;
}

.mat-expansion-panel.mat-expanded
.mat-expansion-panel-header{
  background: #bed4e6;
  font-weight: 600;
}
.mat-expansion-panel.mat-expanded
.mat-action-row {
  background: #b9d1e5;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: #ff4081;
}

mat-spinner {
  margin: auto;
}

.post-image {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
}

.post-image img {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}




