:host {
  display: block;
  margin-top: 1rem;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}


mat-spinner {
  margin: auto;
}

.post-image {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
}

.post-image img {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}




